name: Deploy Mule App to CloudHub 2.0

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

    - name: Build Mule Application
      run: mvn clean package -DskipTests

    - name: Deploy to CloudHub 2.0
      run: |
        mvn clean deploy -DmuleDeploy \
        -Danypoint.username=${{ secrets.ANYPOINT_USERNAME }} \
        -Danypoint.password=${{ secrets.ANYPOINT_PASSWORD }} \
        -Dapp.name=${{ secrets.APP_NAME }} \
        -Denv=${{ secrets.ENV }} \
        -Dtarget=${{ secrets.CH2_TARGET }} \
        -DvCores=0.1 \
        -Dreplicas=1
